 body{
            height: 100vh;
            width: 100vw;
            align-content: center;
            margin: 0;
            padding: 0;
        }
        .container{
            width: 100%;
            height: 50%;
            background-color:#A164DF;
            display: flex;
            justify-content:space-evenly    ;
            align-items: center;

        }
        .btn{
            height: 40px;
            width: 80px;
            color: antiquewhite;
            background-color:#663399;
        }
		#buttons{
			height:100%;
			width:100vw;
			display:flex;
			align-items:center
		}